form {
    margin: 50px 0;
    background-color: var(--green2);
    div {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    input, label {
        display: block;
        margin-left: 5px;
        font-family: Cardo, serif;
    }
}