form {
    div {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    input, label {
        display: block;
        margin-left: 5px;
        font-family: Cardo, serif;
        font-size: 1.1rem;
    }
    label {
        display: block;
        width: 150px;
        float: left;
        text-align: right;
    }
}

fieldset {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px 0;
    div.controls {
        display: flex;
        justify-content: center;
        margin-bottom: 0;
        margin-top: 50px;
        button, a {
            margin: 0 20px;
        }
    }
}

input[type="text"],
input[type="number"],
input[type="tel"],
input[type="email"],
input[type="password"],
textarea {
    padding: 3px 5px;
    margin: 5px 15px;
    border: 1px solid var(--green3);
    font-family: Cardo, serif;
    font-size: 1rem;
}
input[type="text"]:not(:focus):hover,
input[type="number"]:not(:focus):hover,
input[type="tel"]:not(:focus):hover,
input[type="email"]:not(:focus):hover,
input[type="password"]:not(:focus):hover,
textarea:not(:focus):hover {
    color: var(--green3);
}
input[type="text"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
textarea:focus {
    border: 1px solid var(--green2);
}

td input {
    margin: 0;
}