form {
    margin: 50px 0;
    background-color: var(--green2);
    div {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    input, label {
        display: block;
        margin-left: 5px;
        font-family: Cardo, serif;
        font-size: 1.4rem;
    }


    table, th, td {
        font-family: Cardo, serif;
        padding: 20px;
    }
    th{
        color: var(--light);
        background-color: var(--green3);
    }
    td{
        color: var(--dark);
        background-color: var(--brown1);
    }
    table{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}