@media (min-width: 1400px) {
    section.flex:has(article) {
        flex-direction: row;
        justify-content: space-around;
    }
}

@media (max-width: 1000px) {
    .carousel {
        flex-direction: column;
        button {
            display: none
        }
        .item-list {
            margin: 0;
            align-items: center;
        }
        .carousel-item {
            margin: 10px 0;
            height: 250px;
        }
    }
}

@media (max-width: 800px) {
    body {
        background-color: var(--green3)
    }
    section {
        margin: 0;
        min-height: calc(100vh - 215px);
        article {
            flex-direction: row;
        }
    }
    section#welcome div {
        margin: 0;
        padding-right: 50px;
        backdrop-filter: brightness(45%);
    }
    section#order ul {
        flex-direction: column;
        li {
            margin: 10px 0;
        }
    }
    header {
        flex-direction: column;
        justify-content: center;
        nav {
            margin-top: 15px;
        }
    }
    header.reduce {
        transform: translateY(-65px);
    }
    footer {
        div {
            flex-direction: column;
        }
        li {
            text-align: center;
        }
    }
}