@import url('https://meyerweb.com/eric/tools/css/reset/reset.css');

@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Belleza&display=swap');


:root {
    --light: #ffffff;
    --gray: #b3afa0;  /* added */
    --dark: #050806;  /* added */
    --green1: #50ff67;
    --green2: #3cb64c;
    --green3: #253526;  /* added */
    --brown1: #c18e5e;
    --brown2: #685e54;
}

* {
    transition-duration: 250ms;
}

body {
    background-color: var(--light);
}


header {
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    padding: 15px;
    background-color: var(--green3);
    justify-content: space-between;
    align-items: center;
    transform: translateY(-1px);
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    a {
        text-align: center;
        text-decoration: underline var(--green3);
        margin: 0 10px;
        padding: 5px;
        color: var(--light);
        font-family: Belleza, serif;
        font-size: 1.2rem;
    }
    a.selected {
        color: var(--green2);
    }
    a.selected, a:hover {
        text-decoration-color: var(--light);
    }
    a:hover:not(.selected) {
        color: var(--green1);
    }
    .logo {
        height: 50px;
    }
}

footer {
    background-color: var(--green3);
    padding: 30px;
    div {
        margin-bottom: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    ul {
        margin: 0 15px;
        text-decoration: none;
        color: var(--light);
        font-size: 1.2rem;
    }
    li {
        margin: 10px 0;
        a {
            text-decoration: none;
        }
    }
    p {
        text-align: center;
        font-family: Belleza, serif;
        color: var(--light);
        font-size: 0.9rem;
    }
    p:last-child {
        color: var(--brown1);
    }
}


section {
    margin: 50px;
    padding: 50px;
    min-height: calc(100vh - 280px);
    background-color: var(--gray);
}
section.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
section.flex:has(article) {
    flex-direction: row;
    justify-content: space-around;
}

table {
    font-family: Cardo, serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
th {
    color: var(--light);
    background-color: var(--green3);
}
tr {
    color: var(--dark);
    background-color: var(--light);
}
tr:nth-child(odd) {
    background-color: var(--gray);
}
th, td {
    padding: 20px;
    vertical-align: center;
}


.sec_products{
    background-color: var(--green2);
    article{
        display: flex;
        justify-content: space-evenly;
    }
    img {
        margin: 10px;
        height: 10em;
    }
    ul{
        margin-left: 20px;
        p{
            font-size: 1.4rem;
            padding-top: 20px;
            padding-bottom: 20px;
        }
    }
}


h1, h2, h3, h4, h5, h6 {
    font-family: Belleza, serif;
    font-weight: bold;
    color: var(--green3);
}
h1 {
    text-align: center;
    font-size: 4.5rem;
}
h2 {
    text-align: center;
    font-size: 3rem;
}
h3 {
    text-align: center;
    font-size: 2rem;
}

p {
    font-family: Cardo, serif;
    font-size: 1.1rem;
    color: var(--dark);
    margin: 10px 0;
    line-height: 20px;
}

a {
    font: inherit;
    color: inherit;
}
a.no-deco {
    text-decoration: none;
}


img.logo {
    max-height: 100px;
}


button {
    padding: 10px 20px;
    border: 1px solid var(--green3);
    font-family: Belleza, serif;
    font-size: 1.2rem;
    color: var(--light);
    background-color: var(--green3);
    cursor: pointer;
}
.button_products {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 50px;
}
button.squared {
    aspect-ratio: 1;
}
button:hover {
    background-color: var(--light);
    color: var(--green3);
}
button:not(.squared):hover {
    padding: 10px 30px;
    font-weight: bold;
}
.organigramme{
    margin: 15px;
    max-width: 100%;
}
.div_orga{
    display: flex;
    justify-content: center;
    align-items: center;
}