@import url('https://meyerweb.com/eric/tools/css/reset/reset.css');

@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Belleza&display=swap');

:root {
    --light: #ffffff;
    --grey: #685e54;
    --green1: #50ff67;
    --green2: #3cb64c;
    --green3: #253526;  /* added */
    --brown: #c18e5e;
}

body {
    background-color: var(--light);
}

header {
    position: sticky;
    top: 0;
    display: flex;
    padding: 15px;
    background-color: var(--green3);
    justify-content: space-between;
    align-items: center;
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    a {
        text-decoration: none;
        margin: 0 10px;
        padding: 5px;
        color: var(--light);
        font-family: Belleza, serif;
        font-size: 1.2rem;
    }
    .logo {
        height: 50px;
    }
}

section {
    p {
        padding: 0 12vw;
    }
}
section:not(.flex) {
    padding: 50px 12vw;
}
section.flex {
    margin: 50px;
    padding: 0;
    background-color: #f0fa;
    display: flex;
    justify-content: space-around;
    align-items: center;
    img {
    }
}
section.flex.col {
    flex-direction: column;
    justify-content: flex-start;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Belleza, serif;
    font-weight: bold;
}
h1 {
    text-align: center;
    font-size: 4.5rem;
}

p, a {
    font-family: Cardo, serif;
    font-size: 1.1rem;
}

footer {
    background-color: var(--green3);
    padding: 30px;
    a {
        text-decoration: none;
        color: var(--light);
        font-size: 1.2rem;
    }
    div {
        margin-bottom: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    ul {
        margin: 0 15px;
    }
    li {
        margin: 8px 0;
    }
    p {
        text-align:center;
        font-family: Belleza, serif;
        color: var(--light);
        font-size: 0.9rem;
    }
    p:last-child {
        color: var(--brown);
    }
}

img.logo {
    max-height: 80px;
}